.btn {
  box-sizing: border-box;
  padding: 0 24px;
  border: none;
  border-radius: 3px;
  height: 45px;
  font-size: 22px;
  text-transform: uppercase;
  color: #86a5c9;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.18s ease-out, background 0.18s ease-out,
    color 0.18s ease-out;
}

.btn:disabled {
  color: #0d64c6;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
}
.btn:active {
  background-color: #efefef !important;
}
