.root {
  box-shadow: none;
  border: 1px solid #2c3e50;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: rgb(193, 223, 249);
  }
}

.sizeBig {
  font-size: 22px;
  padding: 0 24px;
  height: 45px;

  color: #0d64c6;
  background-color: #fff;

  margin-top: 10px;
}

.sizeSmall {
  font-size: 16px;
  width: 25px;
  height: 25px;
}

.light {
  background-color: #f3f4f7;
}

.dark {
  background-color: rgb(17, 17, 165);
  color: rgb(255, 255, 255);

  &:disabled {
    background-color: rgb(78, 78, 130);
  }
}
