.btn {
  box-sizing: border-box;
  padding: 0 24px;
  border: none;
  border-radius: 3px;
  height: 45px;
  font-size: 22px;
  text-transform: uppercase;
  color: #86a5c9;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.18s ease-out, background 0.18s ease-out,
    color 0.18s ease-out;
}

.btn:disabled {
  color: #0d64c6;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
}
.btn:active {
  background-color: #efefef !important;
}

.btnCounter {
  width: 25px;
  height: 25px;
  background: #f1f3f400;
  color: #2c3e50aa;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnClear {
  box-sizing: border-box;
  padding: 0 24px;
  border: 1px solid #2c3e50;
  margin-top: 10px;
  border-radius: 3px;
  height: 30px;
  font-size: 20px;
  color: #2c3e50;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
}
