.div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Helvetica, sans-serif;
}

.input {
  width: 30px;
  height: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  background: #fff;
  color: #2c3e50;
}
