.footer {
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #86a5c9;
  font-family: "Josefin Sans", sans-serif;
}
