.container {
  height: 8px;
  width: 100%;
  background-color: #d1dced;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.progress {
  height: 100%;
  background-color: #387dcaff;
  z-index: 1;
}
